PORT=5000
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/olive?appName=OliveCluster
JWT_SECRET=change_me_to_a_long_random_secret
FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_EMAIL=admin@olive.pk
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=Olive
ADMIN_LAST_NAME=Admin

NODE_ENV=development
